$issue-row-height: 30px;
$calendar-area-padding: 5px;
$bar-radius: 4px;
$end-date-handle-border-radius: 2px;
$end-date-handle-width: 6px;
$end-date-handle-right-offset: -10px;
$start-date-handle-left-offset: -10px;
$activate-opacity-transition-duration: 0.2s;

.issue-row-container {
  width: 100%;
  height: $issue-row-height;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.title {
  width: 200px;
  height: 100%;
  flex: 0 0 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  padding-left: 6px;
  border-right: 1px solid gray;
  z-index: 2;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.status {
  width: 100px;
  height: 100%;
  flex: 0 0 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  padding-left: 6px;
  border-right: 1px solid gray;
  z-index: 2;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.calendar-area {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  padding: $calendar-area-padding 0;
  z-index: 1;

  .issue-bar {
    position: absolute;
    top: $calendar-area-padding;
    left: 0;
    width: 100%;
    height: calc(100% - #{$calendar-area-padding * 2});
    background-color: #004a9f;
    border-radius: $bar-radius;
    transition: width 0.1s ease-out, left 0.1s ease-out;

    &:hover {
      opacity: 0.6;
    }

    .start-date-handle {
      position: absolute;
      left: $start-date-handle-left-offset;
      top: 0;
      width: $end-date-handle-width;
      height: 100%;
      border: 1px dashed #7d7e7f;
      border-radius: $end-date-handle-border-radius;
      cursor: ew-resize;
      // CDKのドラッグ操作はtransformを使用して要素を移動させるため、
      // ドラッグ中にissue-barとの位置関係が崩れる問題が発生
      // transform: translateX(0) !important を指定することで、
      // CDKのtransform値を上書きし、right: -10pxで指定した
      // 位置関係を常に維持する
      transform: translateX(0) !important;
      opacity: 0;
      transition: opacity $activate-opacity-transition-duration ease-out;

      &:hover {
        border: none;
        background-color: #7d7e7f;
        opacity: 1;
      }

      &.active {
        opacity: 0.6;
      }
    }

    .end-date-handle {
      position: absolute;
      right: $end-date-handle-right-offset;
      top: 0;
      width: $end-date-handle-width;
      height: 100%;
      border: 1px dashed #7d7e7f;
      border-radius: $end-date-handle-border-radius;
      cursor: ew-resize;
      // CDKのドラッグ操作はtransformを使用して要素を移動させるため、
      // ドラッグ中にissue-barとの位置関係が崩れる問題が発生
      // transform: translateX(0) !important を指定することで、
      // CDKのtransform値を上書きし、right: -10pxで指定した
      // 位置関係を常に維持する
      transform: translateX(0) !important;
      opacity: 0;
      transition: opacity $activate-opacity-transition-duration ease-out;

      &:hover {
        border: none;
        background-color: #7d7e7f;
        opacity: 1;
      }

      &.active {
        opacity: 0.6;
      }
    }
  }

  > .end-date-create-button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: 10px;
    border-radius: 2px;
    background-color: transparent;
    border: 1px dashed #999;
    cursor: pointer;
    padding: 0;
    margin: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity $activate-opacity-transition-duration ease-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #999;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    // ＋マーク
    // の横棒
    &::before {
      width: 6px;
      height: 1px;
    }

    // ＋マーク
    // の縦棒
    &::after {
      width: 1px;
      height: 6px;
    }

    &:hover {
      border-color: #666;

      &::before,
      &::after {
        background-color: #666;
      }
    }

    &.active {
      opacity: 0.6;
    }
  }
}
