<div class="issue-row-container">
  <!-- Title -->
  <div class="title" [ngStyle]="titleStyle" (click)="onTitleClick()">
    {{ title }}
  </div>

  <!-- Status -->
  <div class="status" [ngStyle]="statusStyle">{{ state }}</div>

  <!-- Calendar Area -->
  <div class="calendar-area" #calendarArea>
    <!-- Start DateもEndDateも未設定の場合は、EndDate定義ボタンを表示 -->
    <button
      class="end-date-create-button"
      *ngIf="showEndDateCreateButton"
      (click)="onEndDateCreateClick()"
    ></button>

    <!-- Issue Bar -->
    <div class="issue-bar" [ngStyle]="barStyle">
      <!-- 
      ** Start Date調整ハンドル
      - ドラッグアンドドロップで日付の調整
      - ダブルクリックでStartDateの設定
      -->
      <div
        class="start-date-handle"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragStarted)="onStartDateDragStart()"
        (cdkDragMoved)="onStartDateDragMoved($event)"
        (cdkDragEnded)="onStartDateDragEnd()"
        (dblclick)="onStartDateDoubleClick()"
      ></div>

      <!-- 
      ** End Date調整ハンドル
      - ドラッグアンドドロップで日付の調整
      - ダブルクリックでEndDateの設定
      -->
      <div
        class="end-date-handle"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragStarted)="onEndDateDragStart()"
        (cdkDragMoved)="onEndDateDragMoved($event)"
        (cdkDragEnded)="onEndDateDragEnd()"
        (dblclick)="onEndDateDoubleClick()"
      ></div>
    </div>
  </div>
</div>
