<div class="issue-row-container">
  <!-- Title -->
  <div
    class="title"
    [style.width.px]="titleWidth === 0 ? 0 : titleWidth"
    [style.flex]="titleWidth === 0 ? '0 0 0px' : '0 0 ' + titleWidth + 'px'"
    [style.display]="titleWidth === 0 ? 'none' : 'flex'"
    (click)="onTitleClick()"
  >
    <span class="issue-iid">{{ id | issueIid }}</span>
    <span class="title-text">{{ title }}</span>
  </div>

  <!-- Status -->
  <div
    class="status"
    [style.width.px]="statusWidth === 0 ? 0 : statusWidth"
    [style.flex]="statusWidth === 0 ? '0 0 0px' : '0 0 ' + statusWidth + 'px'"
    [style.display]="statusWidth === 0 ? 'none' : 'flex'"
    (click)="onStatusClick()"
  >
    {{ status | issueStatusName }}
  </div>

  <!-- Assignee -->
  <div
    class="assignee"
    [style.width.px]="assigneeWidth === 0 ? 0 : assigneeWidth"
    [style.flex]="
      assigneeWidth === 0 ? '0 0 0px' : '0 0 ' + assigneeWidth + 'px'
    "
    [style.display]="assigneeWidth === 0 ? 'none' : 'flex'"
    (click)="onAssigneeClick()"
  >
    {{ assigneeId | issueAssigneeName }}
  </div>

  <!-- Calendar Area -->
  <div class="calendar-area" #calendarArea>
    <!-- Start DateもEndDateも未設定の場合は、EndDate定義ボタンを表示 -->
    <button
      class="end-date-create-button"
      *ngIf="showEndDateCreateButton"
      [class.active]="isHovered"
      (click)="onEndDateCreateClick()"
    ></button>

    <!-- Issue Bar -->
    <div class="issue-bar" [ngStyle]="barStyle">
      <!-- 
      ** Start Date調整ハンドル
      - ドラッグアンドドロップで日付の調整
      - ダブルクリックでStartDateの設定
      -->
      <div
        class="start-date-handle"
        cdkDrag
        cdkDragLockAxis="x"
        [class.active]="isHovered"
        (cdkDragStarted)="onStartDateDragStart()"
        (cdkDragMoved)="onStartDateDragMoved($event)"
        (cdkDragEnded)="onStartDateDragEnd()"
        (dblclick)="onStartDateDoubleClick()"
      ></div>

      <!-- 
      ** End Date調整ハンドル
      - ドラッグアンドドロップで日付の調整
      - ダブルクリックでEndDateの設定
      -->
      <div
        class="end-date-handle"
        cdkDrag
        cdkDragLockAxis="x"
        [class.active]="isHovered"
        (cdkDragStarted)="onEndDateDragStart()"
        (cdkDragMoved)="onEndDateDragMoved($event)"
        (cdkDragEnded)="onEndDateDragEnd()"
        (dblclick)="onEndDateDoubleClick()"
      ></div>
    </div>
  </div>
</div>
