$issue-row-height: 30px;
$calendar-area-padding: 5px;
$bar-radius: 10px;
$end-date-handle-border-radius: 2px;
$end-date-handle-width: 4px;

.issue-row-container {
  width: 100%;
  height: $issue-row-height;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.title {
  width: 200px;
  flex: 0 0 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  z-index: 2;
}

.status {
  width: 100px;
  flex: 0 0 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  z-index: 2;
}

.calendar-area {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  padding: $calendar-area-padding 0;
  z-index: 1;

  > .issue-bar {
    display: none;
    position: absolute;
    top: $calendar-area-padding;
    left: 0;
    width: 100%;
    height: calc(100% - #{$calendar-area-padding * 2});
    background-color: #4a90e2;
    border-radius: $bar-radius;

    &:hover {
      opacity: 0.8;
    }

    > .end-date-handle {
      position: absolute;
      right: 0;
      top: 0;
      border-radius: $end-date-handle-border-radius;
      width: $end-date-handle-width;
      height: 100%;
      opacity: 0;
      cursor: ew-resize;
      background-color: rgb(0, 0, 0);

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
