<div class="issue-row-container">
  <div class="title" [ngStyle]="titleStyle">{{ title }}</div>
  <div class="status" [ngStyle]="statusStyle">{{ state }}</div>
  <div class="calendar-area" #calendarArea>
    <div class="issue-bar" [ngStyle]="barStyle">
      <div
        class="end-date-handle"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragStarted)="onEndDateDragStart($event)"
        (cdkDragMoved)="onEndDateDragMoved($event)"
        (cdkDragEnded)="onEndDateDragEnd($event)"
      ></div>
    </div>
  </div>
</div>
