<div class="issue-column-row">
  <!-- Title -->
  <div class="issue-column-title-space" [ngStyle]="titleStyle">
    Title

    <!-- 
    ** Title Drag Handle
    - ドラッグアンドドロップでTitleの幅を調整する
    -->
    <div
      class="title-drag-handle"
      cdkDrag
      (cdkDragStarted)="onTitleDragStart($event)"
      (cdkDragMoved)="onTitleDragMove($event)"
    ></div>
  </div>

  <!-- Status -->
  <div class="issue-column-status-space" [ngStyle]="statusStyle">Status</div>

  <!-- Assignee -->
  <div class="issue-column-assignee-space" [ngStyle]="assigneeStyle">
    Assignee
  </div>

  <!--
  ** Calendar
  - カレンダーの表示
  - ホイール操作でカレンダーの表示範囲を調整する
  -->
  <div class="issue-column-calendar" #calendar (wheel)="onWheel($event)">
    <!-- 日付ごとにForでループ -->
    <ng-container
      *ngFor="let dateEach of dateData; index as i; trackBy: trackByDate"
    >
      <div class="issue-column-day" [ngStyle]="getDayStyle(i)">
        <!-- 月の表示 -->
        <div class="month">
          {{ dateEach.date | date : "MM" }}
        </div>

        <!-- 日の表示 -->
        <div class="day">
          {{ dateEach.date | date : "dd" }}
        </div>
      </div>
    </ng-container>
  </div>

  <!--
  ** Scroll Bar
  - スクロールバーの表示
  - ホイール操作でスクロールバーの位置を調整する
  -->
  <div class="issue-column-scroll-bar" [class.active]="isScrollBarActive"></div>
</div>
