@import "@src/app/design/scroll-bar.scss";

$issue-row-height: 100%;

.issue-column-row {
  display: flex;
  align-items: center;
  height: $issue-row-height;
}

.issue-column-title-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: relative;
  font-size: 1.2em;
  padding-left: 6px;
  border-right: 1px solid gray;

  > .title-drag-handle {
    width: 3px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(0) !important;
    cursor: col-resize;
  }
}

.issue-column-status-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  font-size: 1.2em;
  padding-left: 6px;
  border-right: 1px solid gray;
}

.issue-column-assignee-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  font-size: 1.2em;
  padding-left: 6px;
  border-right: 1px solid gray;
}

.issue-column-calendar {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
}

.issue-column-scroll-bar {
  display: none;
  width: $scroll-bar-width;

  &.active {
    display: block;
  }
}

.calendar-day-per-line-block {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > .month {
    height: 50%;
    padding-left: 2px;
    border-left: 1px solid #9c9c9c;

    &.hidden {
      color: transparent;
      border-left: none;
    }
  }

  > .day {
    height: 50%;
    padding-left: 2px;
    border-left: 1px solid #9c9c9c;

    &.hidden {
      color: transparent;
      border-left: none;
    }
  }
}

.calendar-day-per-background-block {
  position: absolute;
  top: 50%;
  bottom: 0;

  // 土曜日の背景色（薄い水色）
  &.saturday {
    background-color: rgba(173, 216, 230, 0.3); // lightblue with transparency
  }

  // 日曜日の背景色（薄いピンク色）
  &.sunday {
    background-color: rgba(255, 182, 193, 0.3); // lightpink with transparency
  }

  // 今日の背景色（薄いグレー）
  &.today {
    background-color: rgba(136, 136, 136, 0.3); // lightgray with transparency
  }
}
