<div class="issue-column-row">
  <!-- Title -->
  <div class="issue-column-title-space" [ngStyle]="titleStyle">
    Title

    <!-- 
    ** Title Drag Handle
    - ドラッグアンドドロップでTitleの幅を調整する
    -->
    <div
      class="title-drag-handle"
      cdkDrag
      (cdkDragStarted)="onTitleDragStart($event)"
      (cdkDragMoved)="onTitleDragMove($event)"
    ></div>
  </div>

  <!-- Status -->
  <div class="issue-column-status-space" [ngStyle]="statusStyle">Status</div>

  <!-- Assignee -->
  <div class="issue-column-assignee-space" [ngStyle]="assigneeStyle">
    Assignee
  </div>

  <!--
  ** Calendar
  - カレンダーの表示
  - ホイール操作でカレンダーの表示範囲を調整する
  -->
  <div class="issue-column-calendar" #calendar (wheel)="onWheel($event)">
    <!-- 日付の縦線 -->
    <div
      *ngFor="let line of calendarVerticalLines"
      class="calendar-day-per-block"
      [class.today]="line.isToday"
      [class.month-start]="line.isMonthStart"
      [style.left.px]="line.left"
      [title]="line.date | date : 'yyyy/MM/dd'"
    >
      <div class="month">
        {{ line.date | date : "MM" }}
      </div>
      <div class="day">
        {{ line.date | date : "dd" }}
      </div>
    </div>
  </div>

  <!--
  ** Scroll Bar
  - スクロールバーの表示
  - ホイール操作でスクロールバーの位置を調整する
  -->
  <div class="issue-column-scroll-bar" [class.active]="isScrollBarActive"></div>
</div>
