/* IssueColumnComponent */
.issue-column-row {
  display: flex;
  align-items: center;
}
.issue-column-title-space {
  /* 必要に応じてスタイルを追加 */
}
.issue-column-status-space {
  /* 必要に応じてスタイルを追加 */
}
.issue-column-days {
  display: flex;
  flex: 1;
}
.issue-column-day {
  width: 40px;
  text-align: center;
  border-right: 1px solid #eee;
}
