<div class="header">
  <div class="visibility-controls">
    <label>
      <input
        type="checkbox"
        [(ngModel)]="isShowTitle"
        (change)="onTitleVisibilityChange()"
      />
      タイトルを表示
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="isShowStatus"
        (change)="onStatusVisibilityChange()"
      />
      ステータスを表示
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="isShowAssignee"
        (change)="onAssigneeVisibilityChange()"
      />
      担当者を表示
    </label>
  </div>
  <button class="today-button" (click)="jumpToToday()">Today</button>
</div>
