<div class="chart-area-container">
  <div class="calendar-area">
    <app-issue-column
      [(dispStartDate)]="dispStartDate"
      [(dispEndDate)]="dispEndDate"
      [(titleWidth)]="titleWidth"
      [statusWidth]="statusWidth"
    ></app-issue-column>
  </div>
  <div class="issue-row-area">
    <app-issue-row
      *ngFor="let issue of issues"
      [id]="issue.id"
      [title]="issue.title"
      [state]="issue.state"
      [(startDate)]="issue.start_date"
      [(endDate)]="issue.end_date"
      [dispStartDate]="dispStartDate"
      [dispEndDate]="dispEndDate"
      [titleWidth]="titleWidth"
      [statusWidth]="statusWidth"
    ></app-issue-row>
  </div>
</div>
