<div class="chart-area-container">
  <!--
  ** Calendar Area
  -- 表示領域を調整するので、
  -- 表示領域を受け取る
  -->
  <div class="calendar-area">
    <app-issue-column
      [(titleWidth)]="titleWidth"
      [statusWidth]="statusWidth"
      [assigneeWidth]="assigneeWidth"
      [(isHiddenDatePattern)]="isHiddenDatePattern"
      [isScrollBarActive]="isScrollBarActive"
    ></app-issue-column>
  </div>

  <!--
  ** Issue Row Area
  -- issue一つに1行割り当てて、リスト展開する
  -->
  <div class="issue-row-area" #issueRowArea>
    <app-issue-row
      *ngFor="let issue of issues"
      [id]="issue.id"
      [title]="issue.title"
      [state]="issue.state"
      [assignee]="issue.assignee"
      [(startDate)]="issue.start_date"
      [(endDate)]="issue.end_date"
      [titleWidth]="titleWidth"
      [statusWidth]="statusWidth"
      [assigneeWidth]="assigneeWidth"
      [isHiddenDatePattern]="isHiddenDatePattern"
    ></app-issue-row>
  </div>

  <!-- カレンダーの縦線 - スクロール外まで表示 -->
  <div
    *ngFor="let line of calendarVerticalLines"
    class="calendar-day-per-block"
    [class.today]="line.isToday"
    [class.month-start]="line.isMonthStart"
    [style.left.px]="line.left + calendarOffset"
    [style.width.px]="dayPerWidth"
    [title]="line.date | date : 'yyyy/MM/dd'"
  ></div>
</div>
