<!--
** Loading Overlay
- ローディング中に表示するオーバーレイ
 -->
<div *ngIf="loadingOverlay" class="loading-overlay">
  <div class="spinner">
    <div class="ring"></div>
    <div class="ring ring2"></div>
  </div>
</div>

<!--
** Issue Detail Dialog Overlay
- イシュー詳細ダイアログを表示するオーバーレイ
- ダイアログの外側をクリックするとダイアログを閉じる
 -->
<div
  *ngIf="isIssueDetailDialogExpanded"
  class="issue-detail-dialog-overlay"
  [class.closing]="isDialogClosing"
  (click)="onIssueDetailDialogOverlayClick($event)"
>
  <div class="dialog-slide-in-animation">
    <app-issue-detail-dialog></app-issue-detail-dialog>
  </div>
</div>

<!--
** Toast History Dialog Overlay
- トースト履歴ダイアログを表示するオーバーレイ
- ダイアログの外側をクリックするとダイアログを閉じる
 -->
<div
  *ngIf="isToastHistoryDialogExpanded"
  class="toast-history-dialog-overlay"
  [class.closing]="isToastHistoryDialogClosing"
  (click)="onToastHistoryDialogOverlayClick($event)"
>
  <div class="dialog-slide-in-animation">
    <app-toast-history-dialog></app-toast-history-dialog>
  </div>
</div>

<!--
** Status Selector Dialog Overlay
- ステータス選択ダイアログを表示するオーバーレイ
- ダイアログの外側をクリックするとダイアログを閉じる
 -->
<div
  *ngIf="isStatusSelectorDialogExpanded"
  class="status-selector-dialog-overlay"
  [class.closing]="isStatusSelectorDialogClosing"
  (click)="onStatusSelectorDialogOverlayClick($event)"
>
  <div class="dialog-slide-in-animation">
    <app-status-selector-dialog></app-status-selector-dialog>
  </div>
</div>

<!--
** Assignee Selector Dialog Overlay
- 担当者選択ダイアログを表示するオーバーレイ
- ダイアログの外側をクリックするとダイアログを閉じる
 -->
<div
  *ngIf="isAssigneeSelectorDialogExpanded"
  class="assignee-selector-dialog-overlay"
  [class.closing]="isAssigneeSelectorDialogClosing"
  (click)="onAssigneeSelectorDialogOverlayClick($event)"
>
  <div class="dialog-slide-in-animation">
    <app-assignee-selector-dialog></app-assignee-selector-dialog>
  </div>
</div>

<!--
** Toast
- 通信成否などを右下に表示するポップアップのこと
 -->
<div class="toast-container" *ngIf="isShowToast">
  <app-toast></app-toast>
</div>

<!-- 以下、メインコンテンツ -->
<!-- Header -->
<div class="header">
  <app-header
    [(isShowTitle)]="isShowTitle"
    [(isShowStatus)]="isShowStatus"
    [(isShowAssignee)]="isShowAssignee"
  ></app-header>
</div>

<!-- Chart Area -->
<div class="chart-area">
  <app-chart-area
    [isShowTitle]="isShowTitle"
    [isShowStatus]="isShowStatus"
    [isShowAssignee]="isShowAssignee"
  ></app-chart-area>
</div>
