<div *ngIf="loadingOverlay" class="loading-overlay">
  <div class="spinner">
    <div class="ring"></div>
    <div class="ring ring2"></div>
  </div>
</div>

<div *ngIf="isIssueDetailDialogExpanded" class="issue-detail-dialog-overlay">
  <app-issue-detail-dialog></app-issue-detail-dialog>
</div>

<div class="header">
  <app-header
    [(isShowTitle)]="isShowTitle"
    [(isShowStatus)]="isShowStatus"
  ></app-header>
</div>

<div class="chart-area">
  <app-chart-area
    [isShowTitle]="isShowTitle"
    [isShowStatus]="isShowStatus"
  ></app-chart-area>
</div>
