<div class="assignee-selector-dialog">
  <div class="dialog-header">
    <h3>担当者を選択</h3>
    <div class="issue-title">
      {{ title }}
    </div>
  </div>

  <div class="dialog-content">
    <div class="assignee-option" (click)="selectAssignee(undefined)">
      <span class="assignee-name">未設定</span>
      <span class="assignee-indicator" *ngIf="isSelected(undefined)">✓</span>
    </div>

    <div
      class="assignee-option"
      *ngFor="let member of members"
      (click)="selectAssignee(member.id)"
    >
      <span class="assignee-name">{{ member.name }}</span>
      <span class="assignee-indicator" *ngIf="isSelected(member.id)">✓</span>
    </div>
  </div>
</div>
