$issue-row-height: 30px;
$bar-radius: 6px;
$end-date-handle-border-radius: 4px;
$end-date-handle-width: 6px;
$end-date-handle-right-offset: -10px;
$start-date-handle-left-offset: -10px;
$activate-opacity-transition-duration: 0.2s;
$start-date-unassigned-mark-left-offset: 5px;
$end-date-unassigned-mark-right-offset: 5px;
