/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 8pt;
  color: rgb(62, 62, 62);
}

body {
  font-family: "Roboto", sans-serif;
}
