<div class="toast-history-dialog">
  <div class="toast-history-content">
    <div class="dialog-header">
      <h2 class="dialog-title">ログ一覧</h2>
      <button class="clear-button" (click)="clearLogs()">クリア</button>
    </div>

    <div class="log-list" *ngIf="logs.length > 0; else noLogs">
      <div
        class="log-item"
        *ngFor="let log of logs"
        [ngClass]="getTypeClass(log.type)"
      >
        <div class="log-header">
          <span class="log-type">{{ log.type.toUpperCase() }}</span>
          <span class="log-date">{{ formatDate(log.date) }}</span>
        </div>
        <div class="log-message">{{ log.message }}</div>
      </div>
    </div>

    <ng-template #noLogs>
      <div class="no-logs">
        <p>ログがありません</p>
      </div>
    </ng-template>
  </div>
</div>
